services:
  worker:
    container_name: dubbing-worker
    build:
      context: ./app
      dockerfile: Dockerfile
      target: runtime
    image: dubbing-worker:latest
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
      - ./data:/data
      - ./models:/models
    env_file:
      - .env
    environment:
      - UVICORN_RELOAD=${UVICORN_RELOAD---reload}
      - DATA_DIR=/data
      - INPUTS_DIR=/data/inputs
      - INTERIM_DIR=/data/interim
      - OUTPUTS_DIR=/data/outputs
      - MODELS_DIR=/models
      - WHISPERX_CACHE_DIR=/models/.cache/whisperx
      - XDG_CACHE_HOME=/models/.cache
    gpus: all
    restart: unless-stopped
